<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <a class="btn btn-danger" href="/Restaurant/Register_Restaurant">Register Restaurant</a>
        <a class="btn btn-success" href="/Restaurant/My_Donation">My Donation</a>
        <a class="btn btn-warning" href="/Home/logout">Logout</a>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        Copyright @@
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


